- if user_signed_in?
  - unless current_user == post.user
    - unless post.favorite_user(current_user.id).blank?
      = link_to post_favorite_path(post_id: post.id, id: post.favorites[0].id), method: :delete, remote: true do
        .favorite
        %li.yellow
          %i.fas.fa-star
          %li.font
            はずす
    - else
      = link_to post_favorites_path(post.id), method: :post, remote: true do
        .favorite
        %li.fav-hover
          %i.far.fa-star
          .font
            クリップ