$("#like-button-zone_#{@receiving_user.id").html("<%= j(render partial: 'likes/like', locals: { user: @receiving_user })}");
\// いいね残高をコントローラにて定義した@sending_userを用いて表示します
$(".like_balance").html("#{@sending_user.like_balance")} %&gt;
