.post-card.my-check
  .show.my-jarnal
    .my-header クリップリスト
    .my-list
      - @favorite_posts.each do |fav|
        = link_to post_path(fav), class: "post" do
          .image
            = image_tag fav.images[0].src.url, class: "src"
          .jeneral
            .title.main
              = fav.title
            .user.sub
              = fav.user.name