.user-posts
  .posts-header
    投稿一覧
  .post-list
    - @user.posts.each do |post|
      .post
      = link_to post_path(post) do
        .image
          = image_tag post.images[0].src.url, class: "src"
        .title
          = post.title
        .date
          = post.created_at.to_s(:datetime)