.main-content
  .post-list-box
    - @posts.each do |post|
      = post.title
      = post.image.to_s
    .post-list
      .post-item
        %h2.post-text
        = link_to "#" do
          post
  .info
    = link_to new_post_path do
      投稿