%div#modal-main
  PostCardへようこそ！
  %div#contents
    .page-txt
      PostCardは普段つかっている便利なものを投稿して紹介しあうサイトです。
      %ul
        %li
          %i.far.fa-address-book
          会員登録
          %p
            登録することで、各種機能をつかえるようになります。投稿記事の閲覧は会員登録の必要なく行うことができます。
        %li
          %i.far.fa-paper-plane
          投稿機能
          %p
            会員登録することで自由に投稿することができます。
        %li
          %i.far.fa-heart
          いいね機能
          %p
            気に入った投稿にはいいねをつけることができます。
        %li
          %i.far.fa-star
          クリップ、フォロー機能
          %p
            気になる投稿やユーザーを登録することができます。登録した投稿とユーザーを一覧表示することができます。