%div#modal-main
  ○○へようこそ！
  %div#contents
    .page-txt
      ○○はオススメのPC周辺機器を投稿して紹介しあうサイトです。
      %ul
        %li
          %i.far.fa-address-book
          会員登録
          %p
            登録することで、各種機能をつかえるようになります。投稿記事の閲覧は会員登録の必要なくすることができます。
        %li
          %i.far.fa-paper-plane
          投稿機能
          %p
            会員登録することで自由に投稿することができます。
        %li
          %i.far.fa-heart
          いいね機能
          %p
            気に入った投稿にはいいねをつけることができます。
        %li
          %i.far.fa-star
          ピン留め、フォロー機能
          %p
            気になる投稿やユーザーを登録することができます。登録した投稿とユーザーは一覧で表示することができます。