%svg{:fill => "none", :height => "32", :stroke => "#3d3d3d", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "1", :viewbox => "0 0 24 24", :width => "32", :xmlns => "http://www.w3.org/2000/svg"}
  %circle{:cx => "12", :cy => "12", :r => "10"}
  %line{:x1 => "15", :x2 => "9", :y1 => "9", :y2 => "15"}
  %line{:x1 => "9", :x2 => "15", :y1 => "9", :y2 => "15"}
