// コメントボタン
.comment-submit{
  display: inline-block;
  font-size: 1em;
  appearance: none;
  background-color: $ffbf7f;
  color: $fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 8px;
  margin: 10px;
}
// マイページボタン
.my-btn{
  display: inline-block;
  appearance: none;
  background-color: $ffbf7f;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
  margin: 10px;
  color: $whitesmoke;
}
// いいね、クリップボタン
.like-hover:hover {
  cursor: pointer;
  transition: transform .3s;
	transform-origin: center;
	transform: scale(0.9, 0.9);
  i, .hover{
    color: $pstel;
  }
}
.fav-hover:hover {
	cursor: pointer;
  transition: transform .3s;
	transform-origin: center;
	transform: scale(0.9, 0.9);
  i, .hover{
    color: $ffbf7f;
  }
}
// 検索ボタン
.search-bar{
  .container-2{
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    margin:0 auto;
  }
  .container-2 input#search{
    background-image:asset-url("headerbord.jpg");
    height: 45px;
    padding-left: 50px;
    border-radius: 35px;
    outline: none;
  }
  .search-btn{
    position: absolute;
    width: 2.5em;
    top: 12px;
    left: 0;
    border: none;
    background: none;
    font-size: 20px;
    outline: 0;
    cursor: pointer;
  }
}
// ノートCSS
.string__text{
  color: $fuschia;
  min-height: 200px;
  word-break: break-all;
  border-radius: 5px;
  position: relative;
  margin: 10px auto;
  box-shadow: 0 2px 3px rgba(0,0,0,.22);
  padding: 22px 8px 22px 8px;
  background-image:
  linear-gradient(90deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 50%, #fff6e6 0%, #fff6e6 100%), linear-gradient(180deg, rgba(237, 119, 128, 0) 95%, $fuschia 100%);
  background-size: 8px 100%,100% 2em;
  line-height: 2;
  &__title{
    font-size: 1.15em;
    padding: 5px;
    background-image:asset-url("headerbord.jpg");
    font-weight:bold;
    margin: -22px -8px 22px -8px;
  }
}
// インプットCSS
.text-area{
  font-size: 18px;
  .string-area{
    text-align: center;
    .heading{
      display: flex;
      .count-name, .count-profile{
        margin-left: 5px;
      }
      span{
        padding: 2px;
      }
    }
    .text-field, .input-text{
      margin: 5px;
      padding: 10px;
      border: 2px solid $ffbf7f;
      border-radius: 5px;
      resize: vertical;
      outline: none;
      width: 60vw;
    }
    .input-text{
      min-height:200px;
    }
  }
  &__btn{
    text-align: center;
  }
}
#modal-main::-webkit-scrollbar{
  display: none;
}