.comment-submit{
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 50px;
  margin-bottom: 60px;
  appearance: none;
  background-color: $button-bg;
  color: $button-text-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;  
}
@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
// 新規登録ボタン
.simple_square_btn8{
	display: block;
	position: relative;
	width: 130px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
  border-radius: 30px;
	border:1px solid #1B1B1B;
  backface-visibility: hidden;
  outline: none;
}
.simple_square_btn8:hover{
	cursor: pointer;
	text-decoration: none;
  animation: simple_square_btn8 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes simple_square_btn8{
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
@-moz-keyframes simple_square_btn8{
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes simple_square_btn8{
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
// 戻るボタン
.submit{
	display: block;
	position: relative;
	width: 130px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
  border-radius: 35px;
	border:1px solid #1B1B1B;
  backface-visibility: hidden;
  outline: none;
}
.submit:hover{
	cursor: pointer;
	text-decoration: none;
  animation: simple_square_btn8 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
// いいね、クリップボタン
.iiken-hover{
	display: inline-block;
	position: relative;
}
.like-hover:hover {
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	transition: transform .3s;
	transform-origin: center;
	transform: scale(0.9, 0.9);
	opacity: 0.7;
}
.like-hover::after {
  display: inline-block;
  content: "";
  width: 49px;
  height: 49px;
  position: absolute;
	border-radius: 50%;
  top: -10.5px;
	left: -2.8px;
  border: 1px solid red;
	transition: transform .5s ease;
	visibility: hidden;
}
.like-hover:hover::after {
	cursor: pointer;
	text-decoration: none;
	transition: transform .5s ease;
	transform-origin: center;
	transform: scale(1.4, 1.4);
	opacity: 0.7;
	visibility: visible;
}
.fav-hover{
	display: inline-block;
	position: relative;
}
.fav-hover:hover {
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	transition: transform .3s;
	transform-origin: center;
	transform: scale(0.9, 0.9);
	opacity: 0.7;
}
.fav-hover::after {
  display: inline-block;
  content: "";
  width: 49px;
  height: 49px;
  position: absolute;
	border-radius: 50%;
  top: -10.5px;
	left: 3px;
  border: 2px solid gold;
	transition: transform .5s ease;
	visibility: hidden;
}
.fav-hover:hover::after {
	cursor: pointer;
	text-decoration: none;
	transition: transform .5s ease;
	transform-origin: center;
	transform: scale(1.4, 1.4);
	opacity: 0.7;
	visibility: visible;
}
// 検索ボタン
.search-bar{
  position: absolute;
  left: 200px;
  top: 2px;
  .container-2{
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  .container-2 input#search{
    width: 45px;
    height: 45px;
    background: whitesmoke;
    border: none;
    font-size: 15px;
    float: left;
    color: #262626;
    padding-left: 50px;
    color: #777;
    transition: width .55s ease;
    border-radius: 35px;
  }
  .container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
    width: 300px;
    font-size: 15px;
  }
  .container-2:hover input#search{
  width: 300px;
  }
  .search-btn{
    position: absolute;
    width: 2.5em;
    top: 12px;
    left: 0;
    border: none;
    background: none;
    font-size: 20px;
    outline: 0;
    cursor: pointer;
  }
}
// ゲストログインボタン
.guest-login{
  .guest-btn{
    border: none;
    cursor: pointer;
    padding-top: 10px;
  }
  .guest-btn:hover{
    opacity: 0.7;
  }
}
