.comment-submit{
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 50px;
  margin-bottom: 60px;
  appearance: none;
  background-color: $button-bg;
  color: $fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;  
}
@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
// 新規登録ボタン
.simple_square_btn8{
	display: block;
	position: relative;
	width: 130px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
  border-radius: 30px;
	border:1px solid #1B1B1B;
  backface-visibility: hidden;
  outline: none;
}
.simple_square_btn8:hover{
	cursor: pointer;
	text-decoration: none;
  animation: simple_square_btn8 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes simple_square_btn8{
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
@-moz-keyframes simple_square_btn8{
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes simple_square_btn8{
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
// 戻るボタン
.submit{
	display: block;
	position: relative;
	width: 130px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
  border-radius: 35px;
	border:1px solid #1B1B1B;
  backface-visibility: hidden;
  outline: none;
}
.submit:hover{
	cursor: pointer;
	text-decoration: none;
  animation: simple_square_btn8 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
// いいね、クリップボタン
.like-hover:hover {
  cursor: pointer;
  transition: transform .3s;
	transform-origin: center;
	transform: scale(0.9, 0.9);
  i, .hover{
    color: $pstel;
  }
}
.fav-hover:hover {
	cursor: pointer;
  transition: transform .3s;
	transform-origin: center;
	transform: scale(0.9, 0.9);
  i, .hover{
    color: #ffbf7f;
  }
}
// 検索ボタン
.search-bar{
  height: 80px;
  .container-2{
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    margin:0 3rem;
  }
  .container-2 input#search{
    width: 45px;
    height: 45px;
    background-image:asset-url("paper.jpg");
    border: none;
    font-size: 15px;
    float: left;
    color: #262626;
    padding-left: 50px;
    color: #777;
    transition: width .55s ease;
    border-radius: 35px;
    width: 200px;
  }
  .container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
    font-size: 15px;
  }
  .search-btn{
    position: absolute;
    width: 2.5em;
    top: 12px;
    left: 0;
    border: none;
    background: none;
    font-size: 20px;
    outline: 0;
    cursor: pointer;
  }
}
// ハンバーガーメニュー
@media screen and (min-width:300px){
  .menu{
    display: flex;
    .toggle{
      width: 45px;
      cursor: pointer;
      display: block;
      position: relative;
      margin:3px;   
      border: 2px solid;  
      span{
        width: 35px;
        display: block;
        border-bottom: 2px solid $black;
        position: absolute;
        -webkit-transition: .35s ease-in-out;
        margin-left: 3px;
      }
      span:nth-child(1){
        top: 7px;
      }
      span:nth-child(2){
        top: 18px;
      }
      span:nth-child(3){
        top: 29px;
      }
    }
    .toggle:hover{
      margin:3px;   
    }
    .toggle.active{
      span:nth-child(1){
        top: -2px;
        transform: translateY(20px) rotate(-315deg);
      }
      span:nth-child(2){
        opacity: 0;
      }
      span:nth-child(3){
        top: 38px;
      -webkit-transform: translateY(-20px) rotate(315deg);
      transform: translateY(-20px) rotate(315deg);
      }
    }
    .nav{
      display: none;
    }
    .nav.active{
      height: 50px;
      display: block;
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-image:asset-url("headerbord.jpg");
      border-bottom: 2px solid;
      .drop-menu{
        display: none;
      }
    }
  }
}
@media screen and (min-width:900px){
  .menu{
    display: flex;
    right: 0;
    .toggle{
      display: none;
    }
    .nav.active{
      display: none;
    }
    .nav{
      display: block;
      display: flex;
      line-height: 50px;
      .nav-mypage{
        width: 143px;
        text-align: center;
        .user-btn:hover{
          background-color: $sandybrown;
          color: $lemonchiffon;
        }
      }
      .link-btn{
        padding: 16px 15px 14px 16px;
      }
      .link-btn:hover{
        background-color: $sandybrown;
        color: $lemonchiffon;
      }
      .drop-menu{
        background-image:asset-url("headerbord.jpg");
        display: none;
        .post{
          padding: 16px 39px 14px 40px;
        }
      }
    }
  }
}