/*ページネーション自体のデザイン*/
.pagination>li>a {  
  text-decoration: none;        
  color: $black;
  font-size: 20px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  border-radius: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color:rgba(255,143,69,0.5);
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $sandybrown;
  color: $lemonchiffon;
}