* {
  box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    background: whitesmoke;
}

// 共有ヘッダー項目
.header{
  background-color: whitesmoke;
  height: 50px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  border-bottom: 2px solid #777;
  &__title{
    line-height: 50px;
    font-size: 30px;
    padding-left: 20px;
    a{
      text-decoration: none;
      color: black;
    }
  }
  .search-bar{
    line-height: 50px;
    form{
      position: relative;
      .search-form{
        height: 40px;
        width: 300px;
        border-radius: 9px;
        outline: 0;
        border: 1px solid #808080;
        padding-left: 10px;
      }
      .search-btn{
        position: absolute;
        width: 2.5em;
        top: 12px;
        right: -3px;
        border: none;
        background: none;
        font-size: 20px;
        outline: 0;
        cursor: pointer;
      }
    }
  }
  .nav{
    .nav-bar{
      padding-top: 7px;
      li{
        margin: 0 10px;
        display: inline;
        a{
          color: black;
          text-decoration: none;
          border: 1px solid black;
          display: inline-block;
          text-align: left;
          font-size: 16px;
          padding: 8px 16px;
          font-weight: bold;
          transition: .4s;
          &:hover {
            background-color: black;
            border-color: white;
            color: white;
          }
        }
      }
    }
  }
}



// ホーム画面に表示する投稿一覧
.wrapper{
  display: flex;
  width: 100%;
  padding-top: 50px;
  margin-top: 10px;
  .main-content{
    width: 80%;
    .post-list-box{
      overflow: scroll;
      display: flex;
      flex-wrap: wrap;
      padding: 0 30px;
      .post-list{
        width: 250px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px #ccc;
        margin: 20px 10px;
        a{
          text-decoration: none;
        }
        a:hover{
          opacity: 0.6;
        }
        .post-item{
          display: block;
          .item-img{
            border-radius: 5px 5px 0 0;
            max-width: 100%;
            height: 200px;
            border-bottom: 1px solid #eef;
          }
          .post-jarnal{
            padding: 10px;
            .post-title{
              font-size: 20px;
              margin-bottom: 10px;
              text-align: center;
              color: #333;
              overflow: hidden;
              white-space: normal;
              // text-overflow: ellipsis;
              height: 30px;
            }
            .post-content{
              font-size: 14px;
              line-height: 1.5;
              color: #777;
              overflow: hidden;
              white-space: normal;
              text-overflow: ellipsis;
              height: 40px;
            }
          }
          .post-user{
            border-top: 1px solid #eee;
            padding: 10px;
            color: #777;
            // height: auto;
          }
        }
      }
    } 
    .pagination{
      display: flex;
      justify-content: space-around;
      margin: 20px 450px;
      }
  }
  .info{
    padding-top: 20px;
    width: 20%;;
    position: fixed;
    right: 0;
    border-left: 1px solid #777;
    height: 90%;
    a{
      text-decoration: none;
    }
    .post-button{
      margin-bottom: 30px;
      .push{
        border:dashed 5px #41403E;
        text-align: center;
        align-self:center;
        background:transparent;
        padding:0.7rem 0.7rem;
        margin:0 3rem;
        transition:all .5s ease;
        color:#41403E;
        font-size:1.3rem;
        letter-spacing:1px;
        outline:none;
        box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        &:hover{
          box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
        } 
      }
    }
    h2{
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
    }
    table{
      margin: 0 auto;
      padding: 10px;
      table-layout: fixed;
      width: 80%;
      td{
        padding: 10px;
        border: 1px solid #ccc;
      }
      .id, .count{
        text-align: center;
        width: 30px;
      }
      .title{
        width: 120px;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;;
     }
   }
  }
}

// 共有表示するフッター
.footer{
  height: 40px;
  width: 100%;
}
// 新規投稿画面
.new-post{
  padding-top: 100px;
  text-align: center;
  form{
    width: 100vw;
    margin: 0 auto;
    padding: 50px;
    .add-image{
      width: 80%;
      #image-box{
        display: flex;
        .previews-0{
          width: 80%;
        }
        .previews-1{
          width: 60%;
        }
        .previews-2{
          width: 40%;
        }
        .previews-3{
          width: 20%;
        }
        .item-image{
          position: relative;
          margin: 10px;
          svg{
            font-size: 40px;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            color: gray;
          }
        }
        .input-area{
          background-color: gray;
          border: 1px solid #777;
          border-radius: 1%;
          label{
            font-size: 60px;
            cursor: pointer;
            line-height: 300px;
            text-align: center;
            display: block;
            i{
              width: 100%;
            }
          }
        }
        .input-area:hover{
          opacity: 0.7;
        }
      }
    }
    .text-area{
      &__title{
        display: flex;
        margin: 20px;
      }
      &__content{
        display: flex;
        margin: 20px;
        .input-text{
          width: 800px;
          height: 200px;
          margin: 20px;
          font-size: 16px;
        }
      }
      &__btn{
        .btn{
          align-self:center;
          background:transparent;
          padding:0.3rem 0.7rem;
          margin:0 1rem;
          transition:all .5s ease;
          color:#41403E;
          font-size:1.5rem;
          letter-spacing:1px;
          outline:none;
          box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
          border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
          border:solid 4px #41403E;
        }
        .btn:hover{
          box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
        } 
      }
    }
  }
}
// 投稿詳細画面
.show{
  height: 100vh;
  &__details{
    padding-top: 80px;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    a{
      text-decoration: none;
    }
    &__image{
      display: flex;
      &__list{
        display: flex;
        flex-direction: column;
        height: auto;
        max-width: 100px;
        .show-images{
          max-width: 100px;
          height: 100px;
          object-fit: cover;
          padding: 2px;
          border: 1px solid gray ;
        }
      }
      &__picup{
        margin: 0 30px;
         .view-image{
          width: 410px;
          height: 410px;
          object-fit: contain;
        }
      }
    }
    &__string{
      &__user{
        .show-avatar{
          float: left;
          border-radius: 50%;
          height: 80px;
          width: 80px;
          margin: 0 auto;
        }
        .user-name{
          padding: 5px;
          text-align: left;
          font-size: 18px;
          padding-left: 100px;
          color: dimgrey;
        }
      }
      &__title{
        border-bottom: 2px solid #777;
        font-size: 30px;
        max-width: 100%;
        padding: 6px;
        margin-bottom: 10px;
        padding: 20px;
        padding-left: 100px;
        i{
          color: dimgrey;
        }
      }
      &__content{
        font-size: 20px;
        height: 300px;
        width: 750px;
        padding: 20px;
        border-bottom: 1px solid white;
        border: 4px solid #777;
        border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
        margin: 2em 0;
        padding: 2em;
        line-height: normal;
      }
      &__jarnal{
        display: flex;
      }
    }
  }
  .comment-space{
    .comment-create{
      background-color: skyblue;
      height: 60px;
      width: 100%;
    }
  }
}
// いいねボタン
.vertical_like{
  font-size: 20px;
  .heart0{
  }
  .heart1{
  }
}


// 画像拡大を最前列へ
.lum-lightbox{
  z-index: 10;
}