* {
  box-sizing: border-box;
}

.wrapper{
}

.header{
  background-color: white;
  height: 80px;
  width: 100%;
  position: fixed;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  &__title{
    line-height: 40px;
    font-size: 30px;
    padding-left: 20px;
    a{
      text-decoration: none;
      color: black;
    }
  }
  .search-bar{
    line-height: 40px;
    form{
      position: relative;
      .search-form{
        height: 40px;
        width: 300px;
        border-radius: 9px;
        outline: 0;
        border: 1px solid #808080;
        padding-left: 10px;
      }
      .search-btn{
        position: absolute;
        width: 2.5em;
        top: 9px;
        right: -1px;
        border: none;
        background: none;
        font-size: 20px;
        outline: 0;
        cursor: pointer;
      }
    }
  }
  .nav{
    .nav-bar{
      padding-top: 10px;
      li{
        margin: 0 10px;
        display: inline;
        a{
          color: black;
          text-decoration: none;
          border: 1px solid black;
          display: inline-block;
          text-align: left;
          font-size: 16px;
          padding: 8px 16px;
          font-weight: bold;
          transition: .4s;
          &:hover {
            background-color: black;
            border-color: white;
            color: white;
          }
        }
      }
    }
  }
}

.main-content{
  padding: 100px 0 0 50px;
  height: 100vh;
  display: flex;
  // flex-wrap: wrap;
  .post-list-box{
    width: 80%;
    float: left;
    background-color: #f0f8ff;
    height: calc(100vh - 100px);
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    overflow: scroll;
    .post-list{
      height: 280px;
      margin: 20px;
      width: 200px;
      a{
        text-decoration: none;
      }
      .post-item{
        display: block;
        .post-title{
          height: 40px;
          background-color: blue;
          font-size: 14px;
          color: white;
          overflow-wrap: break-word;
          padding: 5px;
          font-weight: bold;
        }
        .post-images{
          height: 170px;
          background-color: gray;
          padding: 10px;
        }
        p{
          height: 50px;
          background-color: green;
          overflow-wrap: break-word;
          padding: 5px;
          font-size: 11px;
        }
        div{
          height: 20px;
          background-color: cadetblue;
        }
      }
    }
  }
  .page-nation{
  }
  .info{
    width: 20%;
    float: right;
    background-color: white;
  }
}

.footer{
  height: 40px;
  background-color: #cce6ff;
  width: 100%;
}

.new-post{
  padding-top: 100px;
  form{
    background-color: blue;
    width: 1000px;
    margin: 0 auto;
    padding: 30px;
    .add-image{
      #image-box{
        display: flex;
        .previews-0{
          width: 100%;
          .input-area{
            height: 300px;
            width: 800px;
            background-color: white;
            label{
              font-size: 100px;
              cursor: pointer;
              line-height: 300px;
              text-align: center;
              i{
                height: 100%;
                width: 100%;
              }
            }
          }
          .item-image{
            font-size: 130px;
            position: relative;
            margin: 10px;
            .far{
            font-size: 40px;
            position: absolute;
            top: 0;
            cursor: pointer;
            color: gray;
            }
          }
        }
        #previews-1{
          width: 67%;
        }
        #previews-2{
          width: 33%;
        }
      }
    }
  }
}

.show-details{
  padding-top: 100px;
  height: 400px;
  background-color: bisque;
  width: 100%;
}

.like-button{
  color: pink;
  font-size: 19px
}

.comment-space{
  .comment-create{
    background-color: skyblue;
    height: 60px;
    width: 100%;
  }
}