* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  background-image:asset-url("headerbord.jpg");
  background-repeat: repeat;
  font-family: 'Noto Sans Japanese',
  'Source Sans Pro', Helvetica , Arial,
  '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}
// ヘッダー項目
.header{
  background-image:asset-url("headerbord.jpg");
  height: 50px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  border-bottom: 2px solid $black;
  a{
    color: $black;
    text-decoration: none;
  }
  &__title{
    line-height: 50px;
    font-size: 30px;
    padding-left: 20px;
    font-weight: bold;
  }
  &__guest{
    .guest-btn{
      border: none;
      cursor: pointer;
      padding: 12px;
      outline: none;
      background: none;
    }
    .guest-btn:hover{
      background-color: $sandybrown;
      color: $lemonchiffon;
    }
  }
}
@media screen and (min-width:300px){
  .menu{
    display: flex;
    .toggle{
      width: 45px;
      cursor: pointer;
      display: block;
      position: relative;
      margin:3px 15px;   
      border: 2px solid;  
      border-radius: 3px;
      span{
        width: 33px;
        display: block;
        border-bottom: 2px solid $black;
        position: absolute;
        -webkit-transition: .35s ease-in-out;
        margin-left: 4px;
      }
      span:nth-child(1){
        top: 7px;
      }
      span:nth-child(2){
        top: 18px;
      }
      span:nth-child(3){
        top: 29px;
      }
    }
    .toggle:hover{
      margin:3px 15px;   
    }
    .toggle.active{
      span:nth-child(1){
        top: -2px;
        transform: translateY(20px) rotate(-315deg);
      }
      span:nth-child(2){
        opacity: 0;
      }
      span:nth-child(3){
        top: 38px;
      -webkit-transform: translateY(-20px) rotate(315deg);
      transform: translateY(-20px) rotate(315deg);
      }
    }
    .nav{
      display: none;
      i{
        display: inline-block;
      }
      span{
        display: none;
      }
      .drop-menu{
        display: none;
      }
    }
    .nav.active{
      height: 100px;
      display: block;
      display: flex;
      justify-content: space-around;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-image:asset-url("headerbord.jpg");
      border-bottom: 2px solid;
      line-height: 50px;
      .search-bar{
        padding: 5px;
      }
      .nav-icon{
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        display: flex;
        justify-content: space-around;
      }
      .link-btn{
        padding: 16px 15px 14px 16px;
      }
      .link-btn:hover{
        background-color: $sandybrown;
        color: $lemonchiffon;
      }
    }
  }
}
@media screen and (min-width:480px){
  .menu{
    .nav-icon{
      i{
        display:none;
      }
      span{
        display: inline-block;
      }
      .drop-menu{
        display: none;
      }
    }
  }
}
@media screen and (min-width:900px){
  .menu{
    display: flex;
    right: 0;
    .toggle{
      display: none;
    }
    .nav.active{
      display: none;
    }
    .nav{
      display: block;
      display: flex;
      line-height: 50px;
      .nav-icon{
        display: flex;
        // 保留
        // .nav-mypage{
        //   width: 143px;
        //   text-align: center;
          .drop-menu{
            background-image:asset-url("headerbord.jpg");
            display: none;
            .post{
              padding: 16px 39px 14px 40px;
            }
          }
        // }
        .link-btn{
          padding: 16px 15px 14px 16px;
        }
        .link-btn:hover{
          background-color: $sandybrown;
          color: $lemonchiffon;
        }
      }
    }
  }
}
// ホーム画面に表示する投稿一覧
.main-content{
  background-image:asset-url("backbord.jpg");
  background-repeat: repeat;
  .post-list-box{
    padding: 50px 10px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    min-height: 96vh;
    .post-list{
      height: 350px;
      width: 250px;
      border-radius: 5px;
      box-shadow: 0 2px 5px $black;
      margin: 30px 10px;
      background-image:asset-url("headerbord.jpg");
      a{
        text-decoration: none;
      }
      a:hover{
        opacity: 0.6;
      }
      .post-item{
        display: block;
        .item-img{
          border-radius: 5px 5px 0 0;
          max-width: 100%;
          height: 200px;
          border-bottom: 1px solid #eef;
          object-fit: cover;
          margin: 0 auto;
        }
        .post-jarnal{
          padding: 10px;
          .post-title{
            font-size: 18px;
            margin-bottom: 10px;
            text-align: center;
            color: #333;
            overflow: hidden;
            white-space: normal;
            height: 30px;
          }
          .post-content{
            font-size: 14px;
            line-height: 1;
            color: $fuschia;
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
            height: 40px;
          }
        }
        .post-user{
          border-top: 1px solid #eee;
          padding: 10px;
          color: $fuschia;
          display: flex;
          justify-content: space-between;
          height: 45px;
          .like{
            line-height: 25px;
            .red{
              color: $pstel;
            }
          }
        }
      }
    }
  } 
}
@media screen and (min-width:300px){
  .main-content{
    width: 100%;
    .post-list-box{
      justify-content: space-around;
    }
    .page-nation{
      background-image:asset-url("headerbord.jpg");
      height: 70px;
      line-height: 63px;
      margin: 20px auto;
      .pagination{
        display: flex;
        justify-content: space-around;
        }
      }
    }
    .info{
      height: 100%;
      .post-button{
        display: none;
      }
      .ranking{
        height: 90vh;
        a{
          text-decoration: none;
          color: $black;
        }
        h2{
        font-size: 20px;
        text-align: center;
        margin: 20px;
        }
        table{
          margin: 0 auto;
          padding: 10px;
          table-layout: fixed;
          width: 80%;
          border-collapse: collapse;
          background-color: $sandybrown;
          td{
            padding: 10px;
            border: 1px solid $lemonchiffon;
          }
          .id, .count{
            text-align: center;
            width: 30px;
          }
        .title{
          width: 120px;
          overflow: hidden;
          white-space: normal;
          text-overflow: ellipsis;;
        }
      }
    }
  }
}
@media screen and (min-width:480px){
  .info{
    height: 100%;
    .ranking{
      height: 500px;
    }
  }
}
@media screen and (min-width:1160px){
  .wrapper{
    display: flex;
    .main-content{
      width: 80%;
      }
    .info{
      padding-top: 50px;
      width: 20%;
      position: fixed;
      right: 0;
      margin: 0 auto;
      a{
        text-decoration: none;
      }
      .post-button{
        display: block;
        text-align: center;
        margin: 30px 0;
        .push{
          display: inline-block;
          font-size: 20px;
          appearance: none;
          background-color: $sandybrown;
          color: $fff;
          border-radius: 4px;
          border: none;
          cursor: pointer;
          padding: 18px;
        }
      }
      h2{
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
      }
      table{
        color: $lemonchiffon;
        margin: 0 auto;
        padding: 10px;
        table-layout: fixed;
        width: 80%;
        border-collapse: collapse;
        td{
          padding: 10px;
          border: 1px solid $lemonchiffon;
        }
        .id, .count{
          text-align: center;
          width: 30px;
        }
        .title{
          width: 120px;
          overflow: hidden;
          white-space: normal;
          text-overflow: ellipsis;;
       }
     }
    }
  }
}

// フッター
.footer{
  position: absolute;
  bottom: 0;
  height: 30px;
  font-size: 20px;
  background-image:asset-url("headerbord.jpg");
  width: 100%;
  line-height: 30px;
  padding-left: 20px;
  position: fixed;
  border-top: 2px solid;
}
// 投稿共通
.post-card{
  margin: 0 30px;
  padding: 100px 0;
  .show{
    height: 100%;
    border: dashed 2px $sandybrown;
    border-radius: 3px;
    box-shadow: 0 0 0 10px #fff6e6;
    background: #fff6e6;
    a{
      color: $fuschia;
      text-decoration: none;
    }
  }
}
// 新規投稿画面
@media screen and (min-width:300px){
  .post-action{
    margin: 5px 10px;
    color: $fuschia;
  }
  .new-post{
    color: $fuschia;
    margin: 10px;
    .add-image{
        #previews{
          li{
            position: relative;
            margin: 9px;
            height: 100px;
            img{
              object-fit: cover;
              border-radius: 3px;
            }
            .js-remove{
              position: absolute;
              top: -15px;
              left: -15px;
              svg{
                stroke: $fuschia;
                fill: $whitesmoke;
              }
            }
          }
        }
        #image-box{
          margin: 30px 0;
          text-align: center;
          .js-file{
            display: none;
          }
          label{
            cursor: pointer;
            font-size: 50px;
            border: 2px solid;
            padding: 20px;
            border-radius: 5px;
            color: $ffbf7f;
            background-image:asset-url("headerbord.jpg");
          }
        }

    }
    .info-image{
      margin: 15px 0;
    }
  }
  .btn{
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
    padding:0.3rem 0.7rem;
    border: solid 2px $ffbf7f;
    background-color: $fff;
    color: $fuschia;
  }
  .return{
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width:300px) and (max-width: 480px){
  #previews{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width:480px){
  .post-card{
    .add-image{
      display: flex;
      flex-wrap: wrap;
      #previews{
        display: flex;
        flex-wrap: wrap;
        margin: 0 20px;
      }
      #image-box{
        margin: 30px 28px;
      }
    }
  }
}
@media screen and (min-width:600px){
  .post-width{
    width: 580px;
    .text-area{
      .string-area{
        .text-field, .input-text{
          width: 500px;
          margin: 10px;
        }
      }
    }
  }
}

// 投稿詳細画面
@media screen and (min-width:300px){
  .details{
    .image{
      margin: 10px 0;
      padding-bottom: 10px;
      border-bottom: dashed 2px $sandybrown;
      .view-image{
        width: 100%;
        height: 30vh;
        object-fit: contain;
        margin-bottom: 20px;
      }
      &__list{
        display: flex;
        justify-content: center;
        border-bottom: 1px ;
        .show-images{
          width: 50px;
          height: 50px;
          object-fit: cover;
          margin: 5px;
          border-radius: 2px;
        }
        .show-images:hover{
          border: 2px solid $black;
        }
      }
    }
    .string{
      padding: 10px;
      border-bottom: dashed 2px $sandybrown;
      &__user{
        position: relative;
        .show-avatar{
          border-radius: 50%;
          height: 50px;
          width: 50px;
          margin: 10px ;
          object-fit: cover;
        }
        .user-author{
          position: absolute;
          top: 6px;
          right: 0px;
          .user-name{
            margin: 5px 0;
            font-size: 16px;
          }
          .post-date{
            margin-top: 5px;
            font-size: 14px;
            color: $fuschia;
            position: absolute;
            top: 27px;
          }
        }
        .user-jarnal{
          position: absolute;
          right: 0;
          top: 38px;
          display: flex;
          li{
            list-style: none;
            font-size: 15px;
          }
          .red{
            color: $pstel;
          }
          .yellow{
            color: $ffbf7f;
          }
          .like,.like-hover{
            display: flex;
            i{
              padding-top: 2px;
            }
            .count{
              margin: 0 5px;
            }
          }
        }
      }
      .setting{
        margin: 10px 10px 0;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        .delete, .edit{
          display: flex;
          i{
            padding: 4px;
          }
        }
      }
    }
  }
  .comment{
    padding: 20px 0;
    &__create{
      text-align: center;
      .comment-area{
        width: 60vw;
        border: 0.1em solid wheat;
        border-radius: 3px;
        padding: 5px;
        outline: none;
      }
      .comment-submit{
        outline: none;
      }
    }
    &__list{
      &__header{
        font-size: 20px;
        padding: 10px;
        }
      &__show{
        padding: 10px;
        .block{
          border-bottom: 1px solid #808080;
          color: $fuschia;
          min-height: 30px;
          align-items: flex-end;
          .content{
            word-wrap: break-word;
          }
          .jarnal{
            text-align: right;
            .user-name{
              cursor: pointer;
              a{
                color: $fuschia;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width:480px){
  .string{
    &__user{
      position: relative;
      .user-author{
        left: 70px;
      }
      .user-jarnal{
        left: 160px;
      }
    }
    &__text{
      margin: 20px auto;
      width: 80vw;
    }
  }
  .comment__list__show{
    .jarnal{
      display: flex;
      justify-content: flex-end;
      .date{
        padding: 3px;
      }
    }
  }
}
// いいねボタン
.vertical_like{
  font-size: 20px;
}
// 画像拡大を最前列へ
.lum-lightbox{
  z-index: 10;
}