// ユーザー画面共通
.my-page{
  margin: 0 30px;
  padding: 80px 0;
   .show{
    height: 100%;
    border: dashed 2px $sandybrown;
    border-radius: 3px;
    box-shadow: 0 0 0 10px #fff6e6;
    background: #fff6e6;
    a{
      text-decoration: none;
    }
  }
}
// ユーザーマイページ
@media screen and (min-width:300px){
  .user-left{
    height: 100%;
    .user-image{
      text-align: center;
      margin: 50px;
      .avatar{
        height: 150px;
        width: 150px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .link-list{
      text-align: center;
      margin: 20px;
    }
  }
  .user-right{
    background-image:asset-url("headerbord.jpg");
    padding: 10px;
    color: $fuschia;
    .post-list{
      padding: 10px;
      a{
        color: $fuschia;
      }
      .post-header{
        display: flex;
        justify-content: space-between;
        .list{
          padding: 3px;
          i{
            padding: 4px;
          }
        }
      }
      h2{
        margin-bottom: 10px;
        font-size: 18px;
      }
    }
    .post-list{
      margin: 0 auto;
      width: 60vw;
      .line{
        display: flex;
        padding: 3px;
        margin: 5px 5px;
        border-bottom: 1px solid $fuschia;
        .title{
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .date{
            margin: 0 0 0 auto;
        }
      }
    }
    .maypage-edit{
      text-align: center;
    }
  }
}
@media screen and (min-width:480px){
  .user-jarnal{
    .image-avatar{
      margin: 80px;
    }
    .user-right{
      .string__text{
        width: 80vw;
        margin: 20px auto;
      }
    }
  }
}
@media screen and (min-width:800px){
  .my-page{
    height: 100vh;
    .user-jarnal{
      height: 600px;
      display: flex;
      .user-left, .user-right{
        width: 50vw;
        .user-image{
          margin: 100px;
        }
        .my-btn{
          margin: 18px;
        }
        .post-list{
          width: 30vw;
        }
        .user-prifile{
          width: 40vw;
        }
      }
    }
  }
}
@media screen and (min-width:1060px){
  .my-page{
    margin: 0 auto;
    width: 1000px;
    .user-left{
      width: 50%;
    }
    .user-right{
      width: 50%;
      .string{
        &__text{
          width: 460px;
        }
      }
      .post-list{
        width: 400px;
      }
    }
  }
}

// ユーザー編集画面
@media screen and (min-width:300px){
  .user-registr{
    .present{
      font-size: 18px;
      color: $fuschia;
      text-align: center;
      margin: 15px 0;
    }
    .user-image{
      margin: 30px;
    }
    .input-file{
      margin-bottom: 20px;
      text-align: center;
      font-size: 30px;
      #post_img{
        display: none;
      }
    }
    .text-area__btn{
      display: flex;
      justify-content: space-around;
    }
  }
}
@media screen and (min-width:480px){
  .user-registr{
    .user-image{
      margin: 80px;
    }
  }
}
@media screen and (min-width:1060px){
  .user-registr{
    display: flex;
    .user-right{
      padding: 20px;
      .string-area{
        margin: 10px;
        .text-field, .input-text{
          width: 400px;
          margin: 10px;
        }
        .input-text{
          height: 200px;
        }
      }
    }
  }
}
// 投稿一覧画面
.user-posts{
  padding: 80px 100px;
  width: 750px;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  background-color: $whitesmoke;
  .posts-header{
    font-size: 25px;
  }
  .post-list{
    margin-top: 50px;
    a{
      display: flex;
      height: 45px;
      text-decoration: none;
      font-size: 16px;
      border-bottom: 1.5px inset #777;
      color: $fuschia;
      .src{
        margin-top: 2px;
        height: 40px;
        width: 40px;
      }
      .title{
        line-height: 45px;
        margin-left: 30px;
      }
      .date{
        margin: 0 0 0 auto;
        line-height: 45px;
      }
    }
  }
}
// フォロー、クリップ画面
@media screen and (min-width:300px){
  .my-check{
    height: 100vh;
    .my-jarnal{
      overflow: scroll;
      color: $fuschia;
      .my-header{
        margin: 0 auto;
        padding: 15px;
        text-align: center;
        border-bottom: solid 1px $sandybrown;
      }
      .my-list{
        .post{
          display: flex;
          border-bottom: 1px dashed $sandybrown;
          align-items: center;
          .image{
            line-height: auto;
            .src{
              margin: 10px;
              height: 40px;
              width: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .jeneral{
            width: 100%;;
            margin-left: 5px;
            .main{
              font-weight: bold;
            }
            .sub{
              margin-left: 5px;
            }
            .profile{
              margin-right: 10px;
            }
            .date{
              text-align: right;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width:600px){
  .my-jarnal{
    width: 400px;
    margin: 0 auto;
  }
}
// 新規登録,ログイン画面
@media screen and (min-width:300px){
  .show{
    margin: 20px auto;
    .session{
      margin: 27px 0;
      a{
        display: flex;
        color: $fuschia;
        i{
          padding: 4px;
        }
      }
    }
    .guest{
      text-align: center;
      .comment-submit{
        margin: 10px auto;
      }
    }
  }
}
@media screen and (min-width:480px){
  .devise{
    width: 60vw;
    margin: 0 auto;
    .user-registr{
      .string-area{
        .width{
          width: 40vw;
        }
      }
    }
  }
}
@media screen and (min-width:1060px){
  .devise{
    display: block;
    .user-right{
      width: 100%;
    }
  }
}