@import "./reset";
@import "./color";
@import "font-awesome-sprockets";
@import "./font-awesome";
@import "./posts";
@import "./users";
@import "./luminous-basic";
@import "./pagenate";
@import "./button";
@import "./modal";

#error_explanation{
  h2{
    font-size: 16px;
  }
  font-size: 16px;
  color: #ff6666;
}