$fuschia: #777;
$button-bg: $fuschia;
$fff: #fff;
$baby-blue: #f8faff;
$pstel: rgba(255,41,41,0.9);
$gainsboro: gainsboro;
$whitesmoke: whitesmoke;
$fff6e6: #fff6e6;
$black: black;
$sandybrown: sandybrown;
$lemonchiffon: lemonchiffon;